.header {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}

.header span {
    font-size: 1.5em;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 1.2em;
    font-weight: 500;
}

.header a:hover {
    color: rgb(248, 34, 34);
}